body{
    background-image: url('https://images.pexels.com/photos/1250048/pexels-photo-1250048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    width: 100w;
    height: 100vh;
}

.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: auto;
    width: 80vw;
    height: 150px;
}

.location canvas{
    width: 200px;
    height: 120px;
}

.location,
.temperature{
    height: 16vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.showData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.showData h3{
    margin: 10px;
}

.hourly{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px white;
    height: 200px;
    min-width: 150px;
    max-width: 150px;
    font-size: 12px;
    margin: auto 5px;
    padding: 5px;
}

.hourly canvas{
    width: 120px;
    height: 60px;
    margin: 5px;
}

.week{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 300px;
}

.daily{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 25% 25%;
    border: solid 2px white;
    height: 200px;
    min-width: 150px;
    max-width: 150px;
    font-size: 12px;
    padding: 5px;
    margin: 5px;
}

.daily canvas{
    width: 100px;
    height: 60px;
}

.pointer{
    cursor: pointer;
}



/*Animation Classes*/
.spinOut{
    animation: spinOut 1s ease 0s normal forwards running;
    pointer-events: none;
}

.slideDown{
    animation: slideDown 1s ease 0s normal forwards running;
}

.slideRight{
    animation: slideRight 1s ease 0s normal forwards running;
}

.slideLeft{
    animation: slideLeft 1s ease 0s 1 normal forwards running;
}

.slideUp{
    animation: slideUp 1s ease 0s 1 normal forwards running;
}

.bounce{
    animation: bounce 0.45s ease 0s infinite alternate none running;
}

.easeIn{
    animation: easeIn 0.15s linear 0s 1 normal forwards running;
}

.easeInLeft{
    animation: easeInLeft 0.25s linear 0s 1 normal forwards running;
}

.easeInRight{
    animation: easeInRight 0.25s linear 0s 1 normal forwards running;
}

.comingThrough{
    animation: comingThrough 1s ease 1 normal forwards running;
    pointer-events: none;
}

.openEyes{
    animation: openEyes 3s ease 0s 1 normal forwards running;
}

.show{
    animation: show 1s ease 0s 1 normal forwards running;
}

.fadeIn{
    animation: fadeIn 2s ease 0s 1 normal formal running;
}


/*Keyframe Animations*/

@keyframes slideDown{
    0%{
        -moz-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
        -webkit-transform: translateY(-1000px);
    }
    100%{

    }
}

@keyframes slideRight{
    0%{
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
    }
    100%{

    }
}

@keyframes slideLeft{
    0%{
        -moz-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
    }
    100%{

    }
}

@keyframes slideUp{
    0%{
        -moz-transform: translateY(1000px);
        -ms-transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
    }
    100%{

    }
}

@keyframes easeInRight{
    0%{
    
    }
    100%{
        -moz-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        -webkit-transform: scale(1.1,1.1);
        box-shadow: -10px 10px 10px 10px grey;
    }
}

@keyframes easeInLeft{
    0%{
    
    }
    100%{
        -moz-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        -webkit-transform: scale(1.1,1.1);
        box-shadow: 10px 10px 10px 10px grey;
    }
}

@keyframes easeIn{
    0%{
    
    }
    100%{
        -moz-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        -webkit-transform: scale(1.1,1.1);
        box-shadow: 0px 0px 10px 5px grey;
    }
}

@keyframes bounce{
    0%{

    }
    100%{
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}

@keyframes spinOut{
    0%{

    }
    50%{
        transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
    }
    75%{
        -moz-transform: translateY(35px);
        -ms-transform: translateY(35px);
        -webkit-transform: translateY(35px);
    }
    100%{
        -moz-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
        -webkit-transform: translateY(-1000px);
    }
}

@keyframes comingThrough{
    0%{
    }
    50%{
        font-size: 200px;
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -webkit-transform: translateY(200px);
    }
    100%{
        -moz-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
        -webkit-transform: translateY(-1000px);
        font-size: 200px;
    }
}

@keyframes openEyes{
    0%{
        background-color: black;
    }
    100%{
        background-color: white;
    }
}

@keyframes show{
    0%{
        transform: translateY(20px);
        visibility: hidden;
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(20px);
        visibility: visible;
    }
}

@keyframes fadeIn{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@media screen and (max-width: 568px){
    .current{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 200px;
        font-size: 12px;
    }

    .location{
        flex-direction: column;
        align-items: center;
        margin: 10px auto 5px;
    }
 
    .week{
        overflow-x: scroll;
        max-width: 80vw;
        justify-content: flex-start;
        margin: 0px auto 0px;
    }
    
    .showData{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 10% 10% 10%;
        font-size: 14px;
        overflow: hidden;
        margin: 5px auto 0px;
    }

    .info{
        height: 250px;
    }

    .showData canvas{
        width: 120px;
        height: 60px;
    }
    
    .daily{
        margin-bottom: 5px;
    }
}
